:root{
    --geen:           #10ac84;
    --gray:           #576574;
    --silver:         #8395a7;
    --silver-opacity: #8395a786;
    --light-gray:     #c8d6e5;
    --black:          #222f3e;
    --light-black:    #576574;
    --white:          rgb(249, 249, 249);
    --color2:         #01a3a4;
    --red:            #ff6b6b;
    --purple:         #341f97;
    --orange:         #ff9f43;
    --light-orange:   #feca57;
    --color-opacity:  #3f5d7dbf;
} 
*{  /*box-sizing: border-box;  */
    padding: 0%; margin: 0%;
    font-family:  Roboto, sans-serif;
}
body{ 
    font-family: 'Exo', sans-serif;
    /* max-width: 1440px;  */     
    margin: auto;
}

h2{ font-size: 48px; }
h3,h4{ font-size: 1.8rem;}


a{ text-decoration: none; }
ul{ list-style: none; }
li{ display: inline-block;}




/*-----    ------------    -BOTON RESORTE     ---------------      ----------------*/

.btn-resorte{ 
    box-sizing: border-box;
    display: block;  transition: all 0.3s;
    position: fixed; bottom: 0.8rem; right: 1%;
    height: 3.5rem; width: 3.5rem; 
    padding:  0.3rem 0.6rem 0.5rem 0.6rem;
    border-radius: 10px;
    background-color: var(--silver-opacity); 
}
.btn-resorte--img{ 
    max-height: 100%; max-width: 100%; 
    margin: 0px; padding: 1px;
    filter: invert(96%);
    font-size: 16px;
}

.btn-resorte:active{ 
    background-color: #8395a7;
    
}
.btn-resorte:active a .btn-resorte--img{ 
    padding: 2px 1px;
}
@media (max-width: 680px){ .btn-resorte{ display: none;} }